{
  "swagger": "2.0",
  "schemes": [
    "https",
    "http"
  ],
  "host": "connect.amazonaws.com",
  "basePath": "/",
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "The Amazon Connect API Reference provides descriptions, syntax, and usage examples for each of the Amazon Connect actions, data types, parameters, and errors. Amazon Connect is a cloud-based contact center solution that makes it easy to set up and manage a customer contact center and provide reliable customer engagement at any scale.",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "Amazon Connect Service",
    "version": "2017-08-08",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/connect-2017-08-08.normal.json",
        "x-apisguru-direct": true
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "connect"
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://aws.amazon.com/connect/"
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "hmac": {
      "description": "Amazon Signature authorization v4",
      "in": "header",
      "name": "Authorization",
      "type": "apiKey",
      "x-amazon-apigateway-authtype": "awsSigv4"
    }
  },
  "security": [
    {
      "hmac": []
    }
  ],
  "parameters": {
    "Action": {
      "in": "header",
      "name": "Action",
      "required": true,
      "type": "string"
    },
    "Version": {
      "in": "header",
      "name": "Version",
      "required": true,
      "type": "string"
    },
    "X-Amz-Algorithm": {
      "in": "header",
      "name": "X-Amz-Algorithm",
      "required": false,
      "type": "string"
    },
    "X-Amz-Content-Sha256": {
      "in": "header",
      "name": "X-Amz-Content-Sha256",
      "required": false,
      "type": "string"
    },
    "X-Amz-Credential": {
      "in": "header",
      "name": "X-Amz-Credential",
      "required": false,
      "type": "string"
    },
    "X-Amz-Date": {
      "in": "header",
      "name": "X-Amz-Date",
      "required": false,
      "type": "string"
    },
    "X-Amz-Security-Token": {
      "in": "header",
      "name": "X-Amz-Security-Token",
      "required": false,
      "type": "string"
    },
    "X-Amz-Signature": {
      "in": "header",
      "name": "X-Amz-Signature",
      "required": false,
      "type": "string"
    },
    "X-Amz-SignedHeaders": {
      "in": "header",
      "name": "X-Amz-SignedHeaders",
      "required": false,
      "type": "string"
    }
  },
  "paths": {
    "/contact/outbound-voice": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "put": {
        "description": "<p>The <code>StartOutboundVoiceContact</code> operation initiates a contact flow to place an outbound call to a customer.</p> <p>There is a throttling limit placed on usage of the API that includes a RateLimit of 2 per second, and a BurstLimit of 5 per second.</p> <p>If you are using an IAM account, it must have permission to the <code>connect:StartOutboundVoiceContact</code> action.</p>",
        "operationId": "StartOutboundVoiceContact",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StartOutboundVoiceContactRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StartOutboundVoiceContactResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "InternalServiceException",
            "schema": {
              "$ref": "#/definitions/InternalServiceException"
            }
          },
          "484": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "485": {
            "description": "DestinationNotAllowedException",
            "schema": {
              "$ref": "#/definitions/DestinationNotAllowedException"
            }
          },
          "486": {
            "description": "OutboundContactNotPermittedException",
            "schema": {
              "$ref": "#/definitions/OutboundContactNotPermittedException"
            }
          }
        }
      }
    },
    "/contact/stop": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "<p>Ends the contact initiated by the <code>StartOutboundVoiceContact</code> operation.</p> <p>If you are using an IAM account, it must have permission to the <code>connect:StopContact</code> action.</p>",
        "operationId": "StopContact",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StopContactRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StopContactResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "ContactNotFoundException",
            "schema": {
              "$ref": "#/definitions/ContactNotFoundException"
            }
          },
          "482": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "483": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "484": {
            "description": "InternalServiceException",
            "schema": {
              "$ref": "#/definitions/InternalServiceException"
            }
          }
        }
      }
    },
    "/routing-profiles-summary/{InstanceId}": {
      "get": {
        "description": "Returns an array of <code>RoutingProfileSummary</code> objects that includes information about the routing profiles in your instance.",
        "operationId": "ListRoutingProfiles",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListRoutingProfilesRequest"
            }
          },
          {
            "in": "path",
            "name": "InstanceId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListRoutingProfilesResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "484": {
            "description": "InternalServiceException",
            "schema": {
              "$ref": "#/definitions/InternalServiceException"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/security-profiles-summary/{InstanceId}": {
      "get": {
        "description": "Returns an array of SecurityProfileSummary objects that contain information about the security profiles in your instance, including the ARN, Id, and Name of the security profile.",
        "operationId": "ListSecurityProfiles",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListSecurityProfilesRequest"
            }
          },
          {
            "in": "path",
            "name": "InstanceId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListSecurityProfilesResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "484": {
            "description": "InternalServiceException",
            "schema": {
              "$ref": "#/definitions/InternalServiceException"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/user-hierarchy-groups-summary/{InstanceId}": {
      "get": {
        "description": "Returns a <code>UserHierarchyGroupSummaryList</code>, which is an array of <code>HierarchyGroupSummary</code> objects that contain information about the hierarchy groups in your instance.",
        "operationId": "ListUserHierarchyGroups",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListUserHierarchyGroupsRequest"
            }
          },
          {
            "in": "path",
            "name": "InstanceId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListUserHierarchyGroupsResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "484": {
            "description": "InternalServiceException",
            "schema": {
              "$ref": "#/definitions/InternalServiceException"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/user-hierarchy-groups/{InstanceId}/{HierarchyGroupId}": {
      "get": {
        "description": "Returns a <code>HierarchyGroup</code> object that includes information about a hierarchy group in your instance.",
        "operationId": "DescribeUserHierarchyGroup",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeUserHierarchyGroupRequest"
            }
          },
          {
            "in": "path",
            "name": "InstanceId",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "HierarchyGroupId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeUserHierarchyGroupResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "484": {
            "description": "InternalServiceException",
            "schema": {
              "$ref": "#/definitions/InternalServiceException"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/user-hierarchy-structure/{InstanceId}": {
      "get": {
        "description": "Returns a <code>HiearchyGroupStructure</code> object, which contains data about the levels in the agent hierarchy.",
        "operationId": "DescribeUserHierarchyStructure",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeUserHierarchyStructureRequest"
            }
          },
          {
            "in": "path",
            "name": "InstanceId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeUserHierarchyStructureResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "484": {
            "description": "InternalServiceException",
            "schema": {
              "$ref": "#/definitions/InternalServiceException"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/user/federate/{InstanceId}": {
      "get": {
        "description": "Retrieves a token for federation.",
        "operationId": "GetFederationToken",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetFederationTokenRequest"
            }
          },
          {
            "in": "path",
            "name": "InstanceId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetFederationTokenResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "UserNotFoundException",
            "schema": {
              "$ref": "#/definitions/UserNotFoundException"
            }
          },
          "484": {
            "description": "InternalServiceException",
            "schema": {
              "$ref": "#/definitions/InternalServiceException"
            }
          },
          "485": {
            "description": "DuplicateResourceException",
            "schema": {
              "$ref": "#/definitions/DuplicateResourceException"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/users-summary/{InstanceId}": {
      "get": {
        "description": "Returns a <code>UserSummaryList</code>, which is an array of <code>UserSummary</code> objects.",
        "operationId": "ListUsers",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListUsersRequest"
            }
          },
          {
            "in": "path",
            "name": "InstanceId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListUsersResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "484": {
            "description": "InternalServiceException",
            "schema": {
              "$ref": "#/definitions/InternalServiceException"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/users/{InstanceId}": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "put": {
        "description": "Creates a new user account in your Amazon Connect instance.",
        "operationId": "CreateUser",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateUserRequest"
            }
          },
          {
            "in": "path",
            "name": "InstanceId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateUserResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "482": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "483": {
            "description": "DuplicateResourceException",
            "schema": {
              "$ref": "#/definitions/DuplicateResourceException"
            }
          },
          "484": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "485": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "486": {
            "description": "InternalServiceException",
            "schema": {
              "$ref": "#/definitions/InternalServiceException"
            }
          }
        }
      }
    },
    "/users/{InstanceId}/{UserId}": {
      "delete": {
        "description": "Deletes a user account from Amazon Connect.",
        "operationId": "DeleteUser",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteUserRequest"
            }
          },
          {
            "in": "path",
            "name": "InstanceId",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "UserId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "484": {
            "description": "InternalServiceException",
            "schema": {
              "$ref": "#/definitions/InternalServiceException"
            }
          }
        }
      },
      "get": {
        "description": "Returns a <code>User</code> object that contains information about the user account specified by the <code>UserId</code>.",
        "operationId": "DescribeUser",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeUserRequest"
            }
          },
          {
            "in": "path",
            "name": "InstanceId",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "UserId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeUserResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "484": {
            "description": "InternalServiceException",
            "schema": {
              "$ref": "#/definitions/InternalServiceException"
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/users/{InstanceId}/{UserId}/hierarchy": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Assigns the specified hierarchy group to the user.",
        "operationId": "UpdateUserHierarchy",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateUserHierarchyRequest"
            }
          },
          {
            "in": "path",
            "name": "InstanceId",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "UserId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "484": {
            "description": "InternalServiceException",
            "schema": {
              "$ref": "#/definitions/InternalServiceException"
            }
          }
        }
      }
    },
    "/users/{InstanceId}/{UserId}/identity-info": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Updates the identity information for the specified user in a <code>UserIdentityInfo</code> object, including email, first name, and last name.",
        "operationId": "UpdateUserIdentityInfo",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateUserIdentityInfoRequest"
            }
          },
          {
            "in": "path",
            "name": "InstanceId",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "UserId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "484": {
            "description": "InternalServiceException",
            "schema": {
              "$ref": "#/definitions/InternalServiceException"
            }
          }
        }
      }
    },
    "/users/{InstanceId}/{UserId}/phone-config": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Updates the phone configuration settings in the <code>UserPhoneConfig</code> object for the specified user.",
        "operationId": "UpdateUserPhoneConfig",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateUserPhoneConfigRequest"
            }
          },
          {
            "in": "path",
            "name": "InstanceId",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "UserId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "484": {
            "description": "InternalServiceException",
            "schema": {
              "$ref": "#/definitions/InternalServiceException"
            }
          }
        }
      }
    },
    "/users/{InstanceId}/{UserId}/routing-profile": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Assigns the specified routing profile to a user.",
        "operationId": "UpdateUserRoutingProfile",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateUserRoutingProfileRequest"
            }
          },
          {
            "in": "path",
            "name": "InstanceId",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "UserId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "484": {
            "description": "InternalServiceException",
            "schema": {
              "$ref": "#/definitions/InternalServiceException"
            }
          }
        }
      }
    },
    "/users/{InstanceId}/{UserId}/security-profiles": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Update the security profiles assigned to the user.",
        "operationId": "UpdateUserSecurityProfiles",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateUserSecurityProfilesRequest"
            }
          },
          {
            "in": "path",
            "name": "InstanceId",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "UserId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          },
          "484": {
            "description": "InternalServiceException",
            "schema": {
              "$ref": "#/definitions/InternalServiceException"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ARN": {
      "type": "string"
    },
    "AfterContactWorkTimeLimit": {
      "minimum": 0,
      "type": "integer"
    },
    "AgentFirstName": {
      "maxLength": 100,
      "minLength": 1,
      "type": "string"
    },
    "AgentLastName": {
      "maxLength": 100,
      "minLength": 1,
      "type": "string"
    },
    "AgentUsername": {
      "maxLength": 20,
      "minLength": 1,
      "pattern": "[a-zA-Z0-9\\_\\-\\.]+",
      "type": "string"
    },
    "AttributeName": {
      "description": "Key for the key value pair to be used for additional attributes.",
      "maxLength": 32767,
      "minLength": 1,
      "type": "string"
    },
    "AttributeValue": {
      "description": "Value for the key value pair to be used for additional attributes.",
      "maxLength": 32767,
      "minLength": 0,
      "type": "string"
    },
    "Attributes": {
      "description": "Additional attributes can be provided in the request using this field. This will be passed to the contact flow execution. Client can make use of this additional info in their contact flow.",
      "items": {
        "properties": {
          "key": {
            "$ref": "#/definitions/AttributeName"
          },
          "value": {
            "$ref": "#/definitions/AttributeValue"
          }
        },
        "type": "object"
      },
      "type": "array"
    },
    "AutoAccept": {
      "type": "boolean"
    },
    "ClientToken": {
      "description": "Dedupe token to be provided by the client. This token is used to avoid duplicate calls to the customer.",
      "maxLength": 500,
      "type": "string"
    },
    "ContactFlowId": {
      "description": "Amazon resource name for the contact flow to be executed to handle the current call.",
      "maxLength": 500,
      "type": "string"
    },
    "ContactId": {
      "description": "Amazon Connect contact identifier. An unique ContactId will be generated for each contact request.",
      "maxLength": 256,
      "minLength": 1,
      "type": "string"
    },
    "ContactNotFoundException": {
      "description": "The contact with the specified ID is not active or does not exist.",
      "properties": {
        "Message": {
          "$ref": "#/definitions/Message",
          "description": "The message."
        }
      },
      "type": "object"
    },
    "CreateUserRequest": {
      "properties": {
        "DirectoryUserId": {
          "$ref": "#/definitions/DirectoryUserId",
          "description": "<p>The unique identifier for the user account in the directory service directory used for identity management. If Amazon Connect is unable to access the existing directory, you can use the <code>DirectoryUserId</code> to authenticate users. If you include the parameter, it is assumed that Amazon Connect cannot access the directory. If the parameter is not included, the UserIdentityInfo is used to authenticate users from your existing directory.</p> <p>This parameter is required if you are using an existing directory for identity management in Amazon Connect when Amazon Connect cannot access your directory to authenticate users. If you are using SAML for identity management and include this parameter, an <code>InvalidRequestException</code> is returned.</p>"
        },
        "HierarchyGroupId": {
          "$ref": "#/definitions/HierarchyGroupId",
          "description": "The unique identifier for the hierarchy group to assign to the user created."
        },
        "IdentityInfo": {
          "$ref": "#/definitions/UserIdentityInfo",
          "description": "Information about the user, including email address, first name, and last name."
        },
        "Password": {
          "$ref": "#/definitions/Password",
          "description": "The password for the user account to create. This is required if you are using Amazon Connect for identity management. If you are using SAML for identity management and include this parameter, an <code>InvalidRequestException</code> is returned."
        },
        "PhoneConfig": {
          "$ref": "#/definitions/UserPhoneConfig",
          "description": "Specifies the phone settings for the user, including AfterContactWorkTimeLimit, AutoAccept, DeskPhoneNumber, and PhoneType."
        },
        "RoutingProfileId": {
          "$ref": "#/definitions/RoutingProfileId",
          "description": "The unique identifier for the routing profile to assign to the user created."
        },
        "SecurityProfileIds": {
          "$ref": "#/definitions/SecurityProfileIds",
          "description": "The unique identifier of the security profile to assign to the user created."
        },
        "Username": {
          "$ref": "#/definitions/AgentUsername",
          "description": "The user name in Amazon Connect for the user to create."
        }
      },
      "required": [
        "Username",
        "PhoneConfig",
        "SecurityProfileIds",
        "RoutingProfileId"
      ],
      "type": "object"
    },
    "CreateUserResponse": {
      "properties": {
        "UserArn": {
          "$ref": "#/definitions/ARN",
          "description": "The Amazon Resource Name (ARN) of the user account created."
        },
        "UserId": {
          "$ref": "#/definitions/UserId",
          "description": "The unique identifier for the user account in Amazon Connect"
        }
      },
      "type": "object"
    },
    "Credentials": {
      "description": "The credentials to use for federation.",
      "properties": {
        "AccessToken": {
          "$ref": "#/definitions/SecurityToken",
          "description": "An access token generated for a federated user to access Amazon Connect"
        },
        "AccessTokenExpiration": {
          "$ref": "#/definitions/timestamp",
          "description": "A token generated with an expiration time for the session a user is logged in to Amazon Connect"
        },
        "RefreshToken": {
          "$ref": "#/definitions/SecurityToken",
          "description": "Renews a token generated for a user to access the Amazon Connect instance."
        },
        "RefreshTokenExpiration": {
          "$ref": "#/definitions/timestamp",
          "description": "Renews the expiration timer for a generated token."
        }
      },
      "type": "object"
    },
    "DeleteUserRequest": {
      "properties": {},
      "type": "object"
    },
    "DescribeUserHierarchyGroupRequest": {
      "properties": {},
      "type": "object"
    },
    "DescribeUserHierarchyGroupResponse": {
      "properties": {
        "HierarchyGroup": {
          "$ref": "#/definitions/HierarchyGroup",
          "description": "Returns a <code>HierarchyGroup</code> object."
        }
      },
      "type": "object"
    },
    "DescribeUserHierarchyStructureRequest": {
      "properties": {},
      "type": "object"
    },
    "DescribeUserHierarchyStructureResponse": {
      "properties": {
        "HierarchyStructure": {
          "$ref": "#/definitions/HierarchyStructure",
          "description": "A <code>HierarchyStructure</code> object."
        }
      },
      "type": "object"
    },
    "DescribeUserRequest": {
      "properties": {},
      "type": "object"
    },
    "DescribeUserResponse": {
      "properties": {
        "User": {
          "$ref": "#/definitions/User",
          "description": "A <code>User</code> object that contains information about the user account and configuration settings."
        }
      },
      "type": "object"
    },
    "DestinationNotAllowedException": {
      "description": "Outbound calls to the destination number are not allowed.",
      "properties": {
        "Message": {
          "$ref": "#/definitions/Message",
          "description": "The message."
        }
      },
      "type": "object"
    },
    "DirectoryUserId": {
      "type": "string"
    },
    "DuplicateResourceException": {
      "description": "A resource with that name already exisits.",
      "properties": {
        "Message": {
          "$ref": "#/definitions/Message"
        }
      },
      "type": "object"
    },
    "Email": {
      "type": "string"
    },
    "GetFederationTokenRequest": {
      "properties": {},
      "type": "object"
    },
    "GetFederationTokenResponse": {
      "properties": {
        "Credentials": {
          "$ref": "#/definitions/Credentials",
          "description": "The credentials to use for federation."
        }
      },
      "type": "object"
    },
    "HierarchyGroup": {
      "description": "A <code>HierarchyGroup</code> object that contains information about a hierarchy group in your Amazon Connect instance.",
      "properties": {
        "Arn": {
          "$ref": "#/definitions/ARN",
          "description": "The Amazon Resource Name (ARN) for the hierarchy group."
        },
        "HierarchyPath": {
          "$ref": "#/definitions/HierarchyPath",
          "description": "A <code>HierarchyPath</code> object that contains information about the levels in the hierarchy group."
        },
        "Id": {
          "$ref": "#/definitions/HierarchyGroupId",
          "description": "The identifier for the hierarchy group."
        },
        "LevelId": {
          "$ref": "#/definitions/HierarchyLevelId",
          "description": "The identifier for the level in the hierarchy group."
        },
        "Name": {
          "$ref": "#/definitions/HierarchyGroupName",
          "description": "The name of the hierarchy group in your instance."
        }
      },
      "type": "object"
    },
    "HierarchyGroupId": {
      "type": "string"
    },
    "HierarchyGroupName": {
      "type": "string"
    },
    "HierarchyGroupSummary": {
      "description": "A <code>HierarchyGroupSummary</code> object that contains information about the hierarchy group, including ARN, Id, and Name.",
      "properties": {
        "Arn": {
          "$ref": "#/definitions/ARN",
          "description": "The ARN for the hierarchy group."
        },
        "Id": {
          "$ref": "#/definitions/HierarchyGroupId",
          "description": "The identifier of the hierarchy group."
        },
        "Name": {
          "$ref": "#/definitions/HierarchyGroupName",
          "description": "The name of the hierarchy group."
        }
      },
      "type": "object"
    },
    "HierarchyGroupSummaryList": {
      "items": {
        "$ref": "#/definitions/HierarchyGroupSummary"
      },
      "type": "array"
    },
    "HierarchyLevel": {
      "description": "A <code>HierarchyLevel</code> object that contains information about the levels in a hierarchy group, including ARN, Id, and Name.",
      "properties": {
        "Arn": {
          "$ref": "#/definitions/ARN",
          "description": "The ARN for the hierarchy group level."
        },
        "Id": {
          "$ref": "#/definitions/HierarchyLevelId",
          "description": "The identifier for the hierarchy group level."
        },
        "Name": {
          "$ref": "#/definitions/HierarchyLevelName",
          "description": "The name of the hierarchy group level."
        }
      },
      "type": "object"
    },
    "HierarchyLevelId": {
      "type": "string"
    },
    "HierarchyLevelName": {
      "type": "string"
    },
    "HierarchyPath": {
      "description": "A <code>HierarchyPath</code> object that contains information about the levels of the hierarchy group.",
      "properties": {
        "LevelFive": {
          "$ref": "#/definitions/HierarchyGroupSummary",
          "description": "A <code>HierarchyGroupSummary</code> object that contains information about the level of the hierarchy group, including ARN, Id, and Name."
        },
        "LevelFour": {
          "$ref": "#/definitions/HierarchyGroupSummary",
          "description": "A <code>HierarchyGroupSummary</code> object that contains information about the level of the hierarchy group, including ARN, Id, and Name."
        },
        "LevelOne": {
          "$ref": "#/definitions/HierarchyGroupSummary",
          "description": "A <code>HierarchyGroupSummary</code> object that contains information about the level of the hierarchy group, including ARN, Id, and Name."
        },
        "LevelThree": {
          "$ref": "#/definitions/HierarchyGroupSummary",
          "description": "A <code>HierarchyGroupSummary</code> object that contains information about the level of the hierarchy group, including ARN, Id, and Name."
        },
        "LevelTwo": {
          "$ref": "#/definitions/HierarchyGroupSummary",
          "description": "A <code>HierarchyGroupSummary</code> object that contains information about the level of the hierarchy group, including ARN, Id, and Name."
        }
      },
      "type": "object"
    },
    "HierarchyStructure": {
      "description": "A <code>HierarchyStructure</code> object that contains information about the hierarchy group structure.",
      "properties": {
        "LevelFive": {
          "$ref": "#/definitions/HierarchyLevel",
          "description": "A <code>HierarchyLevel</code> object that contains information about the hierarchy group level."
        },
        "LevelFour": {
          "$ref": "#/definitions/HierarchyLevel",
          "description": "A <code>HierarchyLevel</code> object that contains information about the hierarchy group level."
        },
        "LevelOne": {
          "$ref": "#/definitions/HierarchyLevel",
          "description": "A <code>HierarchyLevel</code> object that contains information about the hierarchy group level."
        },
        "LevelThree": {
          "$ref": "#/definitions/HierarchyLevel",
          "description": "A <code>HierarchyLevel</code> object that contains information about the hierarchy group level."
        },
        "LevelTwo": {
          "$ref": "#/definitions/HierarchyLevel",
          "description": "A <code>HierarchyLevel</code> object that contains information about the hierarchy group level."
        }
      },
      "type": "object"
    },
    "InstanceId": {
      "description": "Amazon Connect Organization ARN. A client must provide its organization ARN in order to place a call. This defines the call from organization.",
      "maxLength": 100,
      "minLength": 1,
      "type": "string"
    },
    "InternalServiceException": {
      "description": "Request processing failed due to an error or failure with the service.",
      "properties": {
        "Message": {
          "$ref": "#/definitions/Message",
          "description": "The message."
        }
      },
      "type": "object"
    },
    "InvalidParameterException": {
      "description": "One or more of the parameters provided to the operation are not valid.",
      "properties": {
        "Message": {
          "$ref": "#/definitions/Message",
          "description": "The message."
        }
      },
      "type": "object"
    },
    "InvalidRequestException": {
      "description": "The request is not valid.",
      "properties": {
        "Message": {
          "$ref": "#/definitions/Message",
          "description": "The message."
        }
      },
      "type": "object"
    },
    "LimitExceededException": {
      "description": "The limit exceeded the maximum allowed active calls in a queue.",
      "properties": {
        "Message": {
          "$ref": "#/definitions/Message",
          "description": "The message."
        }
      },
      "type": "object"
    },
    "ListRoutingProfilesRequest": {
      "properties": {},
      "type": "object"
    },
    "ListRoutingProfilesResponse": {
      "properties": {
        "NextToken": {
          "$ref": "#/definitions/NextToken",
          "description": "A string returned in the response. Use the value returned in the response as the value of the NextToken in a subsequent request to retrieve the next set of results."
        },
        "RoutingProfileSummaryList": {
          "$ref": "#/definitions/RoutingProfileSummaryList",
          "description": "An array of <code>RoutingProfileSummary</code> objects that include the ARN, Id, and Name of the routing profile."
        }
      },
      "type": "object"
    },
    "ListSecurityProfilesRequest": {
      "properties": {},
      "type": "object"
    },
    "ListSecurityProfilesResponse": {
      "properties": {
        "NextToken": {
          "$ref": "#/definitions/NextToken",
          "description": "A string returned in the response. Use the value returned in the response as the value of the NextToken in a subsequent request to retrieve the next set of results."
        },
        "SecurityProfileSummaryList": {
          "$ref": "#/definitions/SecurityProfileSummaryList",
          "description": "An array of <code>SecurityProfileSummary</code> objects."
        }
      },
      "type": "object"
    },
    "ListUserHierarchyGroupsRequest": {
      "properties": {},
      "type": "object"
    },
    "ListUserHierarchyGroupsResponse": {
      "properties": {
        "NextToken": {
          "$ref": "#/definitions/NextToken",
          "description": "A string returned in the response. Use the value returned in the response as the value of the NextToken in a subsequent request to retrieve the next set of results."
        },
        "UserHierarchyGroupSummaryList": {
          "$ref": "#/definitions/HierarchyGroupSummaryList",
          "description": "An array of <code>HierarchyGroupSummary</code> objects."
        }
      },
      "type": "object"
    },
    "ListUsersRequest": {
      "properties": {},
      "type": "object"
    },
    "ListUsersResponse": {
      "properties": {
        "NextToken": {
          "$ref": "#/definitions/NextToken",
          "description": "A string returned in the response. Use the value returned in the response as the value of the NextToken in a subsequent request to retrieve the next set of results."
        },
        "UserSummaryList": {
          "$ref": "#/definitions/UserSummaryList",
          "description": "An array of <code>UserSummary</code> objects that contain information about the users in your instance."
        }
      },
      "type": "object"
    },
    "MaxResult1000": {
      "maximum": 1000,
      "minimum": 1,
      "type": "integer"
    },
    "Message": {
      "type": "string"
    },
    "NextToken": {
      "type": "string"
    },
    "OutboundContactNotPermittedException": {
      "description": "The contact is not permitted.",
      "properties": {
        "Message": {
          "$ref": "#/definitions/Message",
          "description": "The message."
        }
      },
      "type": "object"
    },
    "Password": {
      "pattern": "/^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)[a-zA-Z\\d\\S]{8,}$/",
      "type": "string"
    },
    "PhoneNumber": {
      "description": "End customer's phone number to call.",
      "type": "string"
    },
    "PhoneType": {
      "enum": [
        "SOFT_PHONE",
        "DESK_PHONE"
      ],
      "type": "string"
    },
    "QueueId": {
      "description": "Identifier of the queue to be used for the contact routing.",
      "type": "string"
    },
    "ResourceNotFoundException": {
      "description": "The specified resource was not found.",
      "properties": {
        "Message": {
          "$ref": "#/definitions/Message",
          "description": "The message."
        }
      },
      "type": "object"
    },
    "RoutingProfileId": {
      "type": "string"
    },
    "RoutingProfileName": {
      "maxLength": 100,
      "minLength": 1,
      "type": "string"
    },
    "RoutingProfileSummary": {
      "description": "A <code>RoutingProfileSummary</code> object that contains information about a routing profile, including ARN, Id, and Name.",
      "properties": {
        "Arn": {
          "$ref": "#/definitions/ARN",
          "description": "The ARN of the routing profile."
        },
        "Id": {
          "$ref": "#/definitions/RoutingProfileId",
          "description": "The identifier of the routing profile."
        },
        "Name": {
          "$ref": "#/definitions/RoutingProfileName",
          "description": "The name of the routing profile."
        }
      },
      "type": "object"
    },
    "RoutingProfileSummaryList": {
      "items": {
        "$ref": "#/definitions/RoutingProfileSummary"
      },
      "type": "array"
    },
    "SecurityProfileId": {
      "type": "string"
    },
    "SecurityProfileIds": {
      "items": {
        "$ref": "#/definitions/SecurityProfileId"
      },
      "maxItems": 10,
      "minItems": 1,
      "type": "array"
    },
    "SecurityProfileName": {
      "type": "string"
    },
    "SecurityProfileSummary": {
      "description": "A <code>SecurityProfileSummary</code> object that contains information about a security profile, including ARN, Id, Name.",
      "properties": {
        "Arn": {
          "$ref": "#/definitions/ARN",
          "description": "The ARN of the security profile."
        },
        "Id": {
          "$ref": "#/definitions/SecurityProfileId",
          "description": "The identifier of the security profile."
        },
        "Name": {
          "$ref": "#/definitions/SecurityProfileName",
          "description": "The name of the security profile."
        }
      },
      "type": "object"
    },
    "SecurityProfileSummaryList": {
      "items": {
        "$ref": "#/definitions/SecurityProfileSummary"
      },
      "type": "array"
    },
    "SecurityToken": {
      "format": "password",
      "type": "string"
    },
    "StartOutboundVoiceContactRequest": {
      "properties": {
        "Attributes": {
          "$ref": "#/definitions/Attributes",
          "description": "<p>Specify a custom key-value pair using an attribute map. The attributes are standard Amazon Connect attributes, and can be accessed in contact flows just like any other contact attributes.</p> <p>There can be up to 32,768 UTF-8 bytes across all key-value pairs. Attribute keys can include only alphanumeric, dash, and underscore characters.</p> <p>For example, if you want play a greeting when the customer answers the call, you can pass the customer name in attributes similar to the following:</p>"
        },
        "ClientToken": {
          "$ref": "#/definitions/ClientToken",
          "description": "A unique, case-sensitive identifier that you provide to ensure the idempotency of the request. The token is valid for 7 days after creation. If a contact is already started, the contact ID is returned. If the contact is disconnected, a new contact is started."
        },
        "ContactFlowId": {
          "$ref": "#/definitions/ContactFlowId",
          "description": "<p>The identifier for the contact flow to connect the outbound call to.</p> <p>To find the <code>ContactFlowId</code>, open the contact flow you want to use in the Amazon Connect contact flow editor. The ID for the contact flow is displayed in the address bar as part of the URL. For example, the contact flow ID is the set of characters at the end of the URL, after 'contact-flow/' such as <code>78ea8fd5-2659-4f2b-b528-699760ccfc1b</code>.</p>"
        },
        "DestinationPhoneNumber": {
          "$ref": "#/definitions/PhoneNumber",
          "description": "The phone number of the customer in E.164 format."
        },
        "InstanceId": {
          "$ref": "#/definitions/InstanceId",
          "description": "The identifier for your Amazon Connect instance. To find the ID of your instance, open the AWS console and select Amazon Connect. Select the alias of the instance in the Instance alias column. The instance ID is displayed in the Overview section of your instance settings. For example, the instance ID is the set of characters at the end of the instance ARN, after instance/, such as 10a4c4eb-f57e-4d4c-b602-bf39176ced07."
        },
        "QueueId": {
          "$ref": "#/definitions/QueueId",
          "description": "<p>The queue to add the call to. If you specify a queue, the phone displayed for caller ID is the phone number specified in the queue. If you do not specify a queue, the queue used will be the queue defined in the contact flow.</p> <p>To find the <code>QueueId</code>, open the queue you want to use in the Amazon Connect Queue editor. The ID for the queue is displayed in the address bar as part of the URL. For example, the queue ID is the set of characters at the end of the URL, after 'queue/' such as <code>queue/aeg40574-2d01-51c3-73d6-bf8624d2168c</code>.</p>"
        },
        "SourcePhoneNumber": {
          "$ref": "#/definitions/PhoneNumber",
          "description": "The phone number, in E.164 format, associated with your Amazon Connect instance to use for the outbound call."
        }
      },
      "required": [
        "DestinationPhoneNumber",
        "ContactFlowId",
        "InstanceId"
      ],
      "type": "object"
    },
    "StartOutboundVoiceContactResponse": {
      "properties": {
        "ContactId": {
          "$ref": "#/definitions/ContactId",
          "description": "The unique identifier of this contact within your Amazon Connect instance."
        }
      },
      "type": "object"
    },
    "StopContactRequest": {
      "properties": {
        "ContactId": {
          "$ref": "#/definitions/ContactId",
          "description": "The unique identifier of the contact to end."
        },
        "InstanceId": {
          "$ref": "#/definitions/InstanceId",
          "description": "The identifier for your Amazon Connect instance. To find the ID of your instance, open the AWS console and select Amazon Connect. Select the alias of the instance in the Instance alias column. The instance ID is displayed in the Overview section of your instance settings. For example, the instance ID is the set of characters at the end of the instance ARN, after instance/, such as 10a4c4eb-f57e-4d4c-b602-bf39176ced07."
        }
      },
      "required": [
        "ContactId",
        "InstanceId"
      ],
      "type": "object"
    },
    "StopContactResponse": {
      "properties": {},
      "type": "object"
    },
    "ThrottlingException": {
      "description": "The throttling limit has been exceeded.",
      "properties": {
        "Message": {
          "$ref": "#/definitions/Message"
        }
      },
      "type": "object"
    },
    "UpdateUserHierarchyRequest": {
      "properties": {
        "HierarchyGroupId": {
          "$ref": "#/definitions/HierarchyGroupId",
          "description": "The identifier for the hierarchy group to assign to the user."
        }
      },
      "type": "object"
    },
    "UpdateUserIdentityInfoRequest": {
      "properties": {
        "IdentityInfo": {
          "$ref": "#/definitions/UserIdentityInfo",
          "description": "A <code>UserIdentityInfo</code> object."
        }
      },
      "required": [
        "IdentityInfo"
      ],
      "type": "object"
    },
    "UpdateUserPhoneConfigRequest": {
      "properties": {
        "PhoneConfig": {
          "$ref": "#/definitions/UserPhoneConfig",
          "description": "A <code>UserPhoneConfig</code> object that contains settings for <code>AfterContactWorkTimeLimit</code>, <code>AutoAccept</code>, <code>DeskPhoneNumber</code>, and <code>PhoneType</code> to assign to the user."
        }
      },
      "required": [
        "PhoneConfig"
      ],
      "type": "object"
    },
    "UpdateUserRoutingProfileRequest": {
      "properties": {
        "RoutingProfileId": {
          "$ref": "#/definitions/RoutingProfileId",
          "description": "The identifier of the routing profile to assign to the user."
        }
      },
      "required": [
        "RoutingProfileId"
      ],
      "type": "object"
    },
    "UpdateUserSecurityProfilesRequest": {
      "properties": {
        "SecurityProfileIds": {
          "$ref": "#/definitions/SecurityProfileIds",
          "description": "The identifiers for the security profiles to assign to the user."
        }
      },
      "required": [
        "SecurityProfileIds"
      ],
      "type": "object"
    },
    "User": {
      "description": "A <code>User</code> object that contains information about a user account in your Amazon Connect instance, including configuration settings.",
      "properties": {
        "Arn": {
          "$ref": "#/definitions/ARN",
          "description": "The ARN of the user account."
        },
        "DirectoryUserId": {
          "$ref": "#/definitions/DirectoryUserId",
          "description": "The directory Id for the user account in the existing directory used for identity management."
        },
        "HierarchyGroupId": {
          "$ref": "#/definitions/HierarchyGroupId",
          "description": "The identifier for the hierarchy group assigned to the user."
        },
        "Id": {
          "$ref": "#/definitions/UserId",
          "description": "The identifier of the user account."
        },
        "IdentityInfo": {
          "$ref": "#/definitions/UserIdentityInfo",
          "description": "A <code>UserIdentityInfo</code> object."
        },
        "PhoneConfig": {
          "$ref": "#/definitions/UserPhoneConfig",
          "description": "A <code>UserPhoneConfig</code> object."
        },
        "RoutingProfileId": {
          "$ref": "#/definitions/RoutingProfileId",
          "description": "The identifier of the routing profile assigned to the user."
        },
        "SecurityProfileIds": {
          "$ref": "#/definitions/SecurityProfileIds",
          "description": "The identifier(s) for the security profile assigned to the user."
        },
        "Username": {
          "$ref": "#/definitions/AgentUsername",
          "description": "The user name assigned to the user account."
        }
      },
      "type": "object"
    },
    "UserId": {
      "type": "string"
    },
    "UserIdentityInfo": {
      "description": "A <code>UserIdentityInfo</code> object that contains information about the user's identity, including email address, first name, and last name.",
      "properties": {
        "Email": {
          "$ref": "#/definitions/Email",
          "description": "The email address added to the user account. If you are using SAML for identity management and include this parameter, an <code>InvalidRequestException</code> is returned."
        },
        "FirstName": {
          "$ref": "#/definitions/AgentFirstName",
          "description": "The first name used in the user account. This is required if you are using Amazon Connect or SAML for identity management."
        },
        "LastName": {
          "$ref": "#/definitions/AgentLastName",
          "description": "The last name used in the user account. This is required if you are using Amazon Connect or SAML for identity management."
        }
      },
      "type": "object"
    },
    "UserNotFoundException": {
      "description": "No user with the specified credentials was found in the Amazon Connect instance.",
      "properties": {
        "Message": {
          "$ref": "#/definitions/Message"
        }
      },
      "type": "object"
    },
    "UserPhoneConfig": {
      "description": "A <code>UserPhoneConfig</code> object that contains information about the user phone configuration settings.",
      "properties": {
        "AfterContactWorkTimeLimit": {
          "$ref": "#/definitions/AfterContactWorkTimeLimit",
          "description": "The After Call Work (ACW) timeout setting, in seconds, for the user."
        },
        "AutoAccept": {
          "$ref": "#/definitions/AutoAccept",
          "description": "The Auto accept setting for the user, Yes or No."
        },
        "DeskPhoneNumber": {
          "$ref": "#/definitions/PhoneNumber",
          "description": "The phone number for the user's desk phone."
        },
        "PhoneType": {
          "$ref": "#/definitions/PhoneType",
          "description": "The phone type selected for the user, either Soft phone or Desk phone."
        }
      },
      "required": [
        "PhoneType"
      ],
      "type": "object"
    },
    "UserSummary": {
      "description": "A <code>UserSummary</code> object that contains Information about a user, including ARN, Id, and user name.",
      "properties": {
        "Arn": {
          "$ref": "#/definitions/ARN",
          "description": "The ARN for the user account."
        },
        "Id": {
          "$ref": "#/definitions/UserId",
          "description": "The identifier for the user account."
        },
        "Username": {
          "$ref": "#/definitions/AgentUsername",
          "description": "The Amazon Connect user name for the user account."
        }
      },
      "type": "object"
    },
    "UserSummaryList": {
      "items": {
        "$ref": "#/definitions/UserSummary"
      },
      "type": "array"
    },
    "timestamp": {
      "format": "date-time",
      "type": "string"
    }
  }
}
