{
  "swagger": "2.0",
  "schemes": [
    "https",
    "http"
  ],
  "host": "comprehend.amazonaws.com",
  "basePath": "/",
  "x-hasEquivalentPaths": true,
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "description": "Amazon Comprehend is an AWS service for gaining insight into the content of documents. Use these actions to determine the topics contained in your documents, the topics they discuss, the predominant sentiment expressed in them, the predominant language used, and more.",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "title": "Amazon Comprehend",
    "version": "2017-11-27",
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
    },
    "x-origin": [
      {
        "contentType": "application/json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/comprehend-2017-11-27.normal.json",
        "x-apisguru-direct": true
      }
    ],
    "x-preferred": true,
    "x-providerName": "amazonaws.com",
    "x-release": "v4",
    "x-serviceName": "comprehend"
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://aws.amazon.com/comprehend/"
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "hmac": {
      "description": "Amazon Signature authorization v4",
      "in": "header",
      "name": "Authorization",
      "type": "apiKey",
      "x-amazon-apigateway-authtype": "awsSigv4"
    }
  },
  "security": [
    {
      "hmac": []
    }
  ],
  "parameters": {
    "Action": {
      "in": "header",
      "name": "Action",
      "required": true,
      "type": "string"
    },
    "Version": {
      "in": "header",
      "name": "Version",
      "required": true,
      "type": "string"
    },
    "X-Amz-Algorithm": {
      "in": "header",
      "name": "X-Amz-Algorithm",
      "required": false,
      "type": "string"
    },
    "X-Amz-Content-Sha256": {
      "in": "header",
      "name": "X-Amz-Content-Sha256",
      "required": false,
      "type": "string"
    },
    "X-Amz-Credential": {
      "in": "header",
      "name": "X-Amz-Credential",
      "required": false,
      "type": "string"
    },
    "X-Amz-Date": {
      "in": "header",
      "name": "X-Amz-Date",
      "required": false,
      "type": "string"
    },
    "X-Amz-Security-Token": {
      "in": "header",
      "name": "X-Amz-Security-Token",
      "required": false,
      "type": "string"
    },
    "X-Amz-Signature": {
      "in": "header",
      "name": "X-Amz-Signature",
      "required": false,
      "type": "string"
    },
    "X-Amz-SignedHeaders": {
      "in": "header",
      "name": "X-Amz-SignedHeaders",
      "required": false,
      "type": "string"
    }
  },
  "paths": {
    "/": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Determines the dominant language of the input text for a batch of documents. For a list of languages that Amazon Comprehend can detect, see <a href=\"http://docs.aws.amazon.com/comprehend/latest/dg/how-languages.html\">Amazon Comprehend Supported Languages</a>. ",
        "operationId": "BatchDetectDominantLanguage",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchDetectDominantLanguageRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchDetectDominantLanguageResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "TextSizeLimitExceededException",
            "schema": {
              "$ref": "#/definitions/TextSizeLimitExceededException"
            }
          },
          "482": {
            "description": "BatchSizeLimitExceededException",
            "schema": {
              "$ref": "#/definitions/BatchSizeLimitExceededException"
            }
          },
          "483": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        }
      }
    },
    "/#BatchDetectEntities": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Inspects the text of a batch of documents for named entities and returns information about them. For more information about named entities, see <a>how-entities</a> ",
        "operationId": "BatchDetectEntities",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchDetectEntitiesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchDetectEntitiesResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "TextSizeLimitExceededException",
            "schema": {
              "$ref": "#/definitions/TextSizeLimitExceededException"
            }
          },
          "482": {
            "description": "UnsupportedLanguageException",
            "schema": {
              "$ref": "#/definitions/UnsupportedLanguageException"
            }
          },
          "483": {
            "description": "BatchSizeLimitExceededException",
            "schema": {
              "$ref": "#/definitions/BatchSizeLimitExceededException"
            }
          },
          "484": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        }
      }
    },
    "/#BatchDetectKeyPhrases": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Detects the key noun phrases found in a batch of documents.",
        "operationId": "BatchDetectKeyPhrases",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchDetectKeyPhrasesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchDetectKeyPhrasesResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "TextSizeLimitExceededException",
            "schema": {
              "$ref": "#/definitions/TextSizeLimitExceededException"
            }
          },
          "482": {
            "description": "UnsupportedLanguageException",
            "schema": {
              "$ref": "#/definitions/UnsupportedLanguageException"
            }
          },
          "483": {
            "description": "BatchSizeLimitExceededException",
            "schema": {
              "$ref": "#/definitions/BatchSizeLimitExceededException"
            }
          },
          "484": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        }
      }
    },
    "/#BatchDetectSentiment": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Inspects a batch of documents and returns an inference of the prevailing sentiment, <code>POSITIVE</code>, <code>NEUTRAL</code>, <code>MIXED</code>, or <code>NEGATIVE</code>, in each one.",
        "operationId": "BatchDetectSentiment",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchDetectSentimentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchDetectSentimentResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "TextSizeLimitExceededException",
            "schema": {
              "$ref": "#/definitions/TextSizeLimitExceededException"
            }
          },
          "482": {
            "description": "UnsupportedLanguageException",
            "schema": {
              "$ref": "#/definitions/UnsupportedLanguageException"
            }
          },
          "483": {
            "description": "BatchSizeLimitExceededException",
            "schema": {
              "$ref": "#/definitions/BatchSizeLimitExceededException"
            }
          },
          "484": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        }
      }
    },
    "/#BatchDetectSyntax": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Inspects the text of a batch of documents for the syntax and part of speech of the words in the document and returns information about them. For more information, see <a>how-syntax</a>.",
        "operationId": "BatchDetectSyntax",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchDetectSyntaxRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchDetectSyntaxResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "TextSizeLimitExceededException",
            "schema": {
              "$ref": "#/definitions/TextSizeLimitExceededException"
            }
          },
          "482": {
            "description": "UnsupportedLanguageException",
            "schema": {
              "$ref": "#/definitions/UnsupportedLanguageException"
            }
          },
          "483": {
            "description": "BatchSizeLimitExceededException",
            "schema": {
              "$ref": "#/definitions/BatchSizeLimitExceededException"
            }
          },
          "484": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        }
      }
    },
    "/#DescribeDominantLanguageDetectionJob": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Gets the properties associated with a dominant language detection job. Use this operation to get the status of a detection job.",
        "operationId": "DescribeDominantLanguageDetectionJob",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeDominantLanguageDetectionJobRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeDominantLanguageDetectionJobResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "JobNotFoundException",
            "schema": {
              "$ref": "#/definitions/JobNotFoundException"
            }
          },
          "482": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "483": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        }
      }
    },
    "/#DescribeEntitiesDetectionJob": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Gets the properties associated with an entities detection job. Use this operation to get the status of a detection job.",
        "operationId": "DescribeEntitiesDetectionJob",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeEntitiesDetectionJobRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeEntitiesDetectionJobResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "JobNotFoundException",
            "schema": {
              "$ref": "#/definitions/JobNotFoundException"
            }
          },
          "482": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "483": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        }
      }
    },
    "/#DescribeKeyPhrasesDetectionJob": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Gets the properties associated with a key phrases detection job. Use this operation to get the status of a detection job.",
        "operationId": "DescribeKeyPhrasesDetectionJob",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeKeyPhrasesDetectionJobRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeKeyPhrasesDetectionJobResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "JobNotFoundException",
            "schema": {
              "$ref": "#/definitions/JobNotFoundException"
            }
          },
          "482": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "483": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        }
      }
    },
    "/#DescribeSentimentDetectionJob": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Gets the properties associated with a sentiment detection job. Use this operation to get the status of a detection job.",
        "operationId": "DescribeSentimentDetectionJob",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeSentimentDetectionJobRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeSentimentDetectionJobResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "JobNotFoundException",
            "schema": {
              "$ref": "#/definitions/JobNotFoundException"
            }
          },
          "482": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "483": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        }
      }
    },
    "/#DescribeTopicsDetectionJob": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Gets the properties associated with a topic detection job. Use this operation to get the status of a detection job.",
        "operationId": "DescribeTopicsDetectionJob",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeTopicsDetectionJobRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeTopicsDetectionJobResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "JobNotFoundException",
            "schema": {
              "$ref": "#/definitions/JobNotFoundException"
            }
          },
          "482": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "483": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        }
      }
    },
    "/#DetectDominantLanguage": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Determines the dominant language of the input text. For a list of languages that Amazon Comprehend can detect, see <a href=\"http://docs.aws.amazon.com/comprehend/latest/dg/how-languages.html\">Amazon Comprehend Supported Languages</a>. ",
        "operationId": "DetectDominantLanguage",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DetectDominantLanguageRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DetectDominantLanguageResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "TextSizeLimitExceededException",
            "schema": {
              "$ref": "#/definitions/TextSizeLimitExceededException"
            }
          },
          "482": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        }
      }
    },
    "/#DetectEntities": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Inspects text for named entities, and returns information about them. For more information, about named entities, see <a>how-entities</a>. ",
        "operationId": "DetectEntities",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DetectEntitiesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DetectEntitiesResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "TextSizeLimitExceededException",
            "schema": {
              "$ref": "#/definitions/TextSizeLimitExceededException"
            }
          },
          "482": {
            "description": "UnsupportedLanguageException",
            "schema": {
              "$ref": "#/definitions/UnsupportedLanguageException"
            }
          },
          "483": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        }
      }
    },
    "/#DetectKeyPhrases": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Detects the key noun phrases found in the text. ",
        "operationId": "DetectKeyPhrases",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DetectKeyPhrasesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DetectKeyPhrasesResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "TextSizeLimitExceededException",
            "schema": {
              "$ref": "#/definitions/TextSizeLimitExceededException"
            }
          },
          "482": {
            "description": "UnsupportedLanguageException",
            "schema": {
              "$ref": "#/definitions/UnsupportedLanguageException"
            }
          },
          "483": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        }
      }
    },
    "/#DetectSentiment": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Inspects text and returns an inference of the prevailing sentiment (<code>POSITIVE</code>, <code>NEUTRAL</code>, <code>MIXED</code>, or <code>NEGATIVE</code>). ",
        "operationId": "DetectSentiment",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DetectSentimentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DetectSentimentResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "TextSizeLimitExceededException",
            "schema": {
              "$ref": "#/definitions/TextSizeLimitExceededException"
            }
          },
          "482": {
            "description": "UnsupportedLanguageException",
            "schema": {
              "$ref": "#/definitions/UnsupportedLanguageException"
            }
          },
          "483": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        }
      }
    },
    "/#DetectSyntax": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Inspects text for syntax and the part of speech of words in the document. For more information, <a>how-syntax</a>.",
        "operationId": "DetectSyntax",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DetectSyntaxRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DetectSyntaxResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "TextSizeLimitExceededException",
            "schema": {
              "$ref": "#/definitions/TextSizeLimitExceededException"
            }
          },
          "482": {
            "description": "UnsupportedLanguageException",
            "schema": {
              "$ref": "#/definitions/UnsupportedLanguageException"
            }
          },
          "483": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        }
      }
    },
    "/#ListDominantLanguageDetectionJobs": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Gets a list of the dominant language detection jobs that you have submitted.",
        "operationId": "ListDominantLanguageDetectionJobs",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListDominantLanguageDetectionJobsRequest"
            }
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListDominantLanguageDetectionJobsResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "482": {
            "description": "InvalidFilterException",
            "schema": {
              "$ref": "#/definitions/InvalidFilterException"
            }
          },
          "483": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        }
      }
    },
    "/#ListEntitiesDetectionJobs": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Gets a list of the entity detection jobs that you have submitted.",
        "operationId": "ListEntitiesDetectionJobs",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListEntitiesDetectionJobsRequest"
            }
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListEntitiesDetectionJobsResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "482": {
            "description": "InvalidFilterException",
            "schema": {
              "$ref": "#/definitions/InvalidFilterException"
            }
          },
          "483": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        }
      }
    },
    "/#ListKeyPhrasesDetectionJobs": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Get a list of key phrase detection jobs that you have submitted.",
        "operationId": "ListKeyPhrasesDetectionJobs",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListKeyPhrasesDetectionJobsRequest"
            }
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListKeyPhrasesDetectionJobsResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "482": {
            "description": "InvalidFilterException",
            "schema": {
              "$ref": "#/definitions/InvalidFilterException"
            }
          },
          "483": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        }
      }
    },
    "/#ListSentimentDetectionJobs": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Gets a list of sentiment detection jobs that you have submitted.",
        "operationId": "ListSentimentDetectionJobs",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListSentimentDetectionJobsRequest"
            }
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListSentimentDetectionJobsResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "482": {
            "description": "InvalidFilterException",
            "schema": {
              "$ref": "#/definitions/InvalidFilterException"
            }
          },
          "483": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        }
      }
    },
    "/#ListTopicsDetectionJobs": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Gets a list of the topic detection jobs that you have submitted.",
        "operationId": "ListTopicsDetectionJobs",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListTopicsDetectionJobsRequest"
            }
          },
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "MaxResults",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pagination token",
            "in": "query",
            "name": "NextToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListTopicsDetectionJobsResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "482": {
            "description": "InvalidFilterException",
            "schema": {
              "$ref": "#/definitions/InvalidFilterException"
            }
          },
          "483": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        }
      }
    },
    "/#StartDominantLanguageDetectionJob": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Starts an asynchronous dominant language detection job for a collection of documents. Use the operation to track the status of a job.",
        "operationId": "StartDominantLanguageDetectionJob",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StartDominantLanguageDetectionJobRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StartDominantLanguageDetectionJobResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "482": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        }
      }
    },
    "/#StartEntitiesDetectionJob": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Starts an asynchronous entity detection job for a collection of documents. Use the operation to track the status of a job.",
        "operationId": "StartEntitiesDetectionJob",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StartEntitiesDetectionJobRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StartEntitiesDetectionJobResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "482": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        }
      }
    },
    "/#StartKeyPhrasesDetectionJob": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Starts an asynchronous key phrase detection job for a collection of documents. Use the operation to track the status of a job.",
        "operationId": "StartKeyPhrasesDetectionJob",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StartKeyPhrasesDetectionJobRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StartKeyPhrasesDetectionJobResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "482": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        }
      }
    },
    "/#StartSentimentDetectionJob": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Starts an asynchronous sentiment detection job for a collection of documents. use the operation to track the status of a job.",
        "operationId": "StartSentimentDetectionJob",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StartSentimentDetectionJobRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StartSentimentDetectionJobResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "482": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        }
      }
    },
    "/#StartTopicsDetectionJob": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "Starts an asynchronous topic detection job. Use the <code>DescribeTopicDetectionJob</code> operation to track the status of a job.",
        "operationId": "StartTopicsDetectionJob",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StartTopicsDetectionJobRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StartTopicsDetectionJobResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "482": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        }
      }
    },
    "/#StopDominantLanguageDetectionJob": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "<p>Stops a dominant language detection job in progress.</p> <p>If the job state is <code>IN_PROGRESS</code> the job is marked for termination and put into the <code>STOP_REQUESTED</code> state. If the job completes before it can be stopped, it is put into the <code>COMPLETED</code> state; otherwise the job is stopped and put into the <code>STOPPED</code> state.</p> <p>If the job is in the <code>COMPLETED</code> or <code>FAILED</code> state when you call the <code>StopDominantLanguageDetectionJob</code> operation, the operation returns a 400 Internal Request Exception. </p> <p>When a job is stopped, any documents already processed are written to the output location.</p>",
        "operationId": "StopDominantLanguageDetectionJob",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StopDominantLanguageDetectionJobRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StopDominantLanguageDetectionJobResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "JobNotFoundException",
            "schema": {
              "$ref": "#/definitions/JobNotFoundException"
            }
          },
          "482": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        }
      }
    },
    "/#StopEntitiesDetectionJob": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "<p>Stops an entities detection job in progress.</p> <p>If the job state is <code>IN_PROGRESS</code> the job is marked for termination and put into the <code>STOP_REQUESTED</code> state. If the job completes before it can be stopped, it is put into the <code>COMPLETED</code> state; otherwise the job is stopped and put into the <code>STOPPED</code> state.</p> <p>If the job is in the <code>COMPLETED</code> or <code>FAILED</code> state when you call the <code>StopDominantLanguageDetectionJob</code> operation, the operation returns a 400 Internal Request Exception. </p> <p>When a job is stopped, any documents already processed are written to the output location.</p>",
        "operationId": "StopEntitiesDetectionJob",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StopEntitiesDetectionJobRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StopEntitiesDetectionJobResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "JobNotFoundException",
            "schema": {
              "$ref": "#/definitions/JobNotFoundException"
            }
          },
          "482": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        }
      }
    },
    "/#StopKeyPhrasesDetectionJob": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "<p>Stops a key phrases detection job in progress.</p> <p>If the job state is <code>IN_PROGRESS</code> the job is marked for termination and put into the <code>STOP_REQUESTED</code> state. If the job completes before it can be stopped, it is put into the <code>COMPLETED</code> state; otherwise the job is stopped and put into the <code>STOPPED</code> state.</p> <p>If the job is in the <code>COMPLETED</code> or <code>FAILED</code> state when you call the <code>StopDominantLanguageDetectionJob</code> operation, the operation returns a 400 Internal Request Exception. </p> <p>When a job is stopped, any documents already processed are written to the output location.</p>",
        "operationId": "StopKeyPhrasesDetectionJob",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StopKeyPhrasesDetectionJobRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StopKeyPhrasesDetectionJobResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "JobNotFoundException",
            "schema": {
              "$ref": "#/definitions/JobNotFoundException"
            }
          },
          "482": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        }
      }
    },
    "/#StopSentimentDetectionJob": {
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ],
      "post": {
        "description": "<p>Stops a sentiment detection job in progress.</p> <p>If the job state is <code>IN_PROGRESS</code> the job is marked for termination and put into the <code>STOP_REQUESTED</code> state. If the job completes before it can be stopped, it is put into the <code>COMPLETED</code> state; otherwise the job is be stopped and put into the <code>STOPPED</code> state.</p> <p>If the job is in the <code>COMPLETED</code> or <code>FAILED</code> state when you call the <code>StopDominantLanguageDetectionJob</code> operation, the operation returns a 400 Internal Request Exception. </p> <p>When a job is stopped, any documents already processed are written to the output location.</p>",
        "operationId": "StopSentimentDetectionJob",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StopSentimentDetectionJobRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StopSentimentDetectionJobResponse"
            }
          },
          "480": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          },
          "481": {
            "description": "JobNotFoundException",
            "schema": {
              "$ref": "#/definitions/JobNotFoundException"
            }
          },
          "482": {
            "description": "InternalServerException",
            "schema": {
              "$ref": "#/definitions/InternalServerException"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "AnyLengthString": {
      "type": "string"
    },
    "BatchDetectDominantLanguageItemResult": {
      "description": "The result of calling the operation. The operation returns one object for each document that is successfully processed by the operation.",
      "properties": {
        "Index": {
          "$ref": "#/definitions/Integer",
          "description": "The zero-based index of the document in the input list."
        },
        "Languages": {
          "$ref": "#/definitions/ListOfDominantLanguages",
          "description": "One or more <a>DominantLanguage</a> objects describing the dominant languages in the document."
        }
      },
      "type": "object"
    },
    "BatchDetectDominantLanguageRequest": {
      "properties": {
        "TextList": {
          "$ref": "#/definitions/StringList",
          "description": "A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document should contain at least 20 characters and must contain fewer than 5,000 bytes of UTF-8 encoded characters."
        }
      },
      "required": [
        "TextList"
      ],
      "type": "object"
    },
    "BatchDetectDominantLanguageResponse": {
      "properties": {
        "ErrorList": {
          "$ref": "#/definitions/BatchItemErrorList",
          "description": "A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty."
        },
        "ResultList": {
          "$ref": "#/definitions/ListOfDetectDominantLanguageResult",
          "description": "A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty."
        }
      },
      "required": [
        "ResultList",
        "ErrorList"
      ],
      "type": "object"
    },
    "BatchDetectEntitiesItemResult": {
      "description": "The result of calling the operation. The operation returns one object for each document that is successfully processed by the operation.",
      "properties": {
        "Entities": {
          "$ref": "#/definitions/ListOfEntities",
          "description": "One or more <a>Entity</a> objects, one for each entity detected in the document."
        },
        "Index": {
          "$ref": "#/definitions/Integer",
          "description": "The zero-based index of the document in the input list."
        }
      },
      "type": "object"
    },
    "BatchDetectEntitiesRequest": {
      "properties": {
        "LanguageCode": {
          "$ref": "#/definitions/LanguageCode",
          "description": "The language of the input documents. You can specify English (\"en\") or Spanish (\"es\"). All documents must be in the same language."
        },
        "TextList": {
          "$ref": "#/definitions/StringList",
          "description": "A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document must contain fewer than 5,000 bytes of UTF-8 encoded characters."
        }
      },
      "required": [
        "TextList",
        "LanguageCode"
      ],
      "type": "object"
    },
    "BatchDetectEntitiesResponse": {
      "properties": {
        "ErrorList": {
          "$ref": "#/definitions/BatchItemErrorList",
          "description": "A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty."
        },
        "ResultList": {
          "$ref": "#/definitions/ListOfDetectEntitiesResult",
          "description": "A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty."
        }
      },
      "required": [
        "ResultList",
        "ErrorList"
      ],
      "type": "object"
    },
    "BatchDetectKeyPhrasesItemResult": {
      "description": "The result of calling the operation. The operation returns one object for each document that is successfully processed by the operation.",
      "properties": {
        "Index": {
          "$ref": "#/definitions/Integer",
          "description": "The zero-based index of the document in the input list."
        },
        "KeyPhrases": {
          "$ref": "#/definitions/ListOfKeyPhrases",
          "description": "One or more <a>KeyPhrase</a> objects, one for each key phrase detected in the document."
        }
      },
      "type": "object"
    },
    "BatchDetectKeyPhrasesRequest": {
      "properties": {
        "LanguageCode": {
          "$ref": "#/definitions/LanguageCode",
          "description": "The language of the input documents. You can specify English (\"en\") or Spanish (\"es\"). All documents must be in the same language."
        },
        "TextList": {
          "$ref": "#/definitions/StringList",
          "description": "A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document must contain fewer that 5,000 bytes of UTF-8 encoded characters."
        }
      },
      "required": [
        "TextList",
        "LanguageCode"
      ],
      "type": "object"
    },
    "BatchDetectKeyPhrasesResponse": {
      "properties": {
        "ErrorList": {
          "$ref": "#/definitions/BatchItemErrorList",
          "description": "A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty."
        },
        "ResultList": {
          "$ref": "#/definitions/ListOfDetectKeyPhrasesResult",
          "description": "A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty."
        }
      },
      "required": [
        "ResultList",
        "ErrorList"
      ],
      "type": "object"
    },
    "BatchDetectSentimentItemResult": {
      "description": "The result of calling the operation. The operation returns one object for each document that is successfully processed by the operation.",
      "properties": {
        "Index": {
          "$ref": "#/definitions/Integer",
          "description": "The zero-based index of the document in the input list."
        },
        "Sentiment": {
          "$ref": "#/definitions/SentimentType",
          "description": "The sentiment detected in the document."
        },
        "SentimentScore": {
          "$ref": "#/definitions/SentimentScore",
          "description": "The level of confidence that Amazon Comprehend has in the accuracy of its sentiment detection."
        }
      },
      "type": "object"
    },
    "BatchDetectSentimentRequest": {
      "properties": {
        "LanguageCode": {
          "$ref": "#/definitions/LanguageCode",
          "description": "The language of the input documents. You can specify English (\"en\") or Spanish (\"es\"). All documents must be in the same language."
        },
        "TextList": {
          "$ref": "#/definitions/StringList",
          "description": "A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document must contain fewer that 5,000 bytes of UTF-8 encoded characters."
        }
      },
      "required": [
        "TextList",
        "LanguageCode"
      ],
      "type": "object"
    },
    "BatchDetectSentimentResponse": {
      "properties": {
        "ErrorList": {
          "$ref": "#/definitions/BatchItemErrorList",
          "description": "A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty."
        },
        "ResultList": {
          "$ref": "#/definitions/ListOfDetectSentimentResult",
          "description": "A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty."
        }
      },
      "required": [
        "ResultList",
        "ErrorList"
      ],
      "type": "object"
    },
    "BatchDetectSyntaxItemResult": {
      "description": "The result of calling the operation. The operation returns one object that is successfully processed by the operation.",
      "properties": {
        "Index": {
          "$ref": "#/definitions/Integer",
          "description": "The zero-based index of the document in the input list."
        },
        "SyntaxTokens": {
          "$ref": "#/definitions/ListOfSyntaxTokens",
          "description": "The syntax tokens for the words in the document, one token for each word."
        }
      },
      "type": "object"
    },
    "BatchDetectSyntaxRequest": {
      "properties": {
        "LanguageCode": {
          "$ref": "#/definitions/SyntaxLanguageCode",
          "description": "The language of the input documents. You can specify English (\"en\") or Spanish (\"es\"). All documents must be in the same language."
        },
        "TextList": {
          "$ref": "#/definitions/StringList",
          "description": "A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document must contain fewer that 5,000 bytes of UTF-8 encoded characters."
        }
      },
      "required": [
        "TextList",
        "LanguageCode"
      ],
      "type": "object"
    },
    "BatchDetectSyntaxResponse": {
      "properties": {
        "ErrorList": {
          "$ref": "#/definitions/BatchItemErrorList",
          "description": "A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty."
        },
        "ResultList": {
          "$ref": "#/definitions/ListOfDetectSyntaxResult",
          "description": "A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty."
        }
      },
      "required": [
        "ResultList",
        "ErrorList"
      ],
      "type": "object"
    },
    "BatchItemError": {
      "description": "Describes an error that occurred while processing a document in a batch. The operation returns on <code>BatchItemError</code> object for each document that contained an error.",
      "properties": {
        "ErrorCode": {
          "$ref": "#/definitions/String",
          "description": "The numeric error code of the error."
        },
        "ErrorMessage": {
          "$ref": "#/definitions/String",
          "description": "A text description of the error."
        },
        "Index": {
          "$ref": "#/definitions/Integer",
          "description": "The zero-based index of the document in the input list."
        }
      },
      "type": "object"
    },
    "BatchItemErrorList": {
      "items": {
        "$ref": "#/definitions/BatchItemError"
      },
      "type": "array"
    },
    "BatchSizeLimitExceededException": {
      "description": "The number of documents in the request exceeds the limit of 25. Try your request again with fewer documents.",
      "properties": {
        "Message": {
          "$ref": "#/definitions/String"
        }
      },
      "type": "object"
    },
    "ClientRequestTokenString": {
      "maxLength": 64,
      "minLength": 1,
      "pattern": "^[a-zA-Z0-9-]+$",
      "type": "string"
    },
    "DescribeDominantLanguageDetectionJobRequest": {
      "properties": {
        "JobId": {
          "$ref": "#/definitions/JobId",
          "description": "The identifier that Amazon Comprehend generated for the job. The operation returns this identifier in its response."
        }
      },
      "required": [
        "JobId"
      ],
      "type": "object"
    },
    "DescribeDominantLanguageDetectionJobResponse": {
      "properties": {
        "DominantLanguageDetectionJobProperties": {
          "$ref": "#/definitions/DominantLanguageDetectionJobProperties",
          "description": "An object that contains the properties associated with a dominant language detection job."
        }
      },
      "type": "object"
    },
    "DescribeEntitiesDetectionJobRequest": {
      "properties": {
        "JobId": {
          "$ref": "#/definitions/JobId",
          "description": "The identifier that Amazon Comprehend generated for the job. The operation returns this identifier in its response."
        }
      },
      "required": [
        "JobId"
      ],
      "type": "object"
    },
    "DescribeEntitiesDetectionJobResponse": {
      "properties": {
        "EntitiesDetectionJobProperties": {
          "$ref": "#/definitions/EntitiesDetectionJobProperties",
          "description": "An object that contains the properties associated with an entities detection job."
        }
      },
      "type": "object"
    },
    "DescribeKeyPhrasesDetectionJobRequest": {
      "properties": {
        "JobId": {
          "$ref": "#/definitions/JobId",
          "description": "The identifier that Amazon Comprehend generated for the job. The operation returns this identifier in its response."
        }
      },
      "required": [
        "JobId"
      ],
      "type": "object"
    },
    "DescribeKeyPhrasesDetectionJobResponse": {
      "properties": {
        "KeyPhrasesDetectionJobProperties": {
          "$ref": "#/definitions/KeyPhrasesDetectionJobProperties",
          "description": "An object that contains the properties associated with a key phrases detection job. "
        }
      },
      "type": "object"
    },
    "DescribeSentimentDetectionJobRequest": {
      "properties": {
        "JobId": {
          "$ref": "#/definitions/JobId",
          "description": "The identifier that Amazon Comprehend generated for the job. The operation returns this identifier in its response."
        }
      },
      "required": [
        "JobId"
      ],
      "type": "object"
    },
    "DescribeSentimentDetectionJobResponse": {
      "properties": {
        "SentimentDetectionJobProperties": {
          "$ref": "#/definitions/SentimentDetectionJobProperties",
          "description": "An object that contains the properties associated with a sentiment detection job."
        }
      },
      "type": "object"
    },
    "DescribeTopicsDetectionJobRequest": {
      "properties": {
        "JobId": {
          "$ref": "#/definitions/JobId",
          "description": "The identifier assigned by the user to the detection job."
        }
      },
      "required": [
        "JobId"
      ],
      "type": "object"
    },
    "DescribeTopicsDetectionJobResponse": {
      "properties": {
        "TopicsDetectionJobProperties": {
          "$ref": "#/definitions/TopicsDetectionJobProperties",
          "description": "The list of properties for the requested job."
        }
      },
      "type": "object"
    },
    "DetectDominantLanguageRequest": {
      "properties": {
        "Text": {
          "$ref": "#/definitions/String",
          "description": "A UTF-8 text string. Each string should contain at least 20 characters and must contain fewer that 5,000 bytes of UTF-8 encoded characters."
        }
      },
      "required": [
        "Text"
      ],
      "type": "object"
    },
    "DetectDominantLanguageResponse": {
      "properties": {
        "Languages": {
          "$ref": "#/definitions/ListOfDominantLanguages",
          "description": "The languages that Amazon Comprehend detected in the input text. For each language, the response returns the RFC 5646 language code and the level of confidence that Amazon Comprehend has in the accuracy of its inference. For more information about RFC 5646, see <a href=\"https://tools.ietf.org/html/rfc5646\">Tags for Identifying Languages</a> on the <i>IETF Tools</i> web site."
        }
      },
      "type": "object"
    },
    "DetectEntitiesRequest": {
      "properties": {
        "LanguageCode": {
          "$ref": "#/definitions/LanguageCode",
          "description": "The language of the input documents. You can specify English (\"en\") or Spanish (\"es\"). All documents must be in the same language."
        },
        "Text": {
          "$ref": "#/definitions/String",
          "description": "A UTF-8 text string. Each string must contain fewer that 5,000 bytes of UTF-8 encoded characters."
        }
      },
      "required": [
        "Text",
        "LanguageCode"
      ],
      "type": "object"
    },
    "DetectEntitiesResponse": {
      "properties": {
        "Entities": {
          "$ref": "#/definitions/ListOfEntities",
          "description": "A collection of entities identified in the input text. For each entity, the response provides the entity text, entity type, where the entity text begins and ends, and the level of confidence that Amazon Comprehend has in the detection. For a list of entity types, see <a>how-entities</a>. "
        }
      },
      "type": "object"
    },
    "DetectKeyPhrasesRequest": {
      "properties": {
        "LanguageCode": {
          "$ref": "#/definitions/LanguageCode",
          "description": "The language of the input documents. You can specify English (\"en\") or Spanish (\"es\"). All documents must be in the same language."
        },
        "Text": {
          "$ref": "#/definitions/String",
          "description": "A UTF-8 text string. Each string must contain fewer that 5,000 bytes of UTF-8 encoded characters."
        }
      },
      "required": [
        "Text",
        "LanguageCode"
      ],
      "type": "object"
    },
    "DetectKeyPhrasesResponse": {
      "properties": {
        "KeyPhrases": {
          "$ref": "#/definitions/ListOfKeyPhrases",
          "description": "A collection of key phrases that Amazon Comprehend identified in the input text. For each key phrase, the response provides the text of the key phrase, where the key phrase begins and ends, and the level of confidence that Amazon Comprehend has in the accuracy of the detection. "
        }
      },
      "type": "object"
    },
    "DetectSentimentRequest": {
      "properties": {
        "LanguageCode": {
          "$ref": "#/definitions/LanguageCode",
          "description": "The language of the input documents. You can specify English (\"en\") or Spanish (\"es\"). All documents must be in the same language."
        },
        "Text": {
          "$ref": "#/definitions/String",
          "description": "A UTF-8 text string. Each string must contain fewer that 5,000 bytes of UTF-8 encoded characters."
        }
      },
      "required": [
        "Text",
        "LanguageCode"
      ],
      "type": "object"
    },
    "DetectSentimentResponse": {
      "properties": {
        "Sentiment": {
          "$ref": "#/definitions/SentimentType",
          "description": "The inferred sentiment that Amazon Comprehend has the highest level of confidence in."
        },
        "SentimentScore": {
          "$ref": "#/definitions/SentimentScore",
          "description": "An object that lists the sentiments, and their corresponding confidence levels."
        }
      },
      "type": "object"
    },
    "DetectSyntaxRequest": {
      "properties": {
        "LanguageCode": {
          "$ref": "#/definitions/SyntaxLanguageCode",
          "description": "The language code of the input documents. You can specify English (\"en\") or Spanish (\"es\")."
        },
        "Text": {
          "$ref": "#/definitions/String",
          "description": "A UTF-8 string. Each string must contain fewer that 5,000 bytes of UTF encoded characters."
        }
      },
      "required": [
        "Text",
        "LanguageCode"
      ],
      "type": "object"
    },
    "DetectSyntaxResponse": {
      "properties": {
        "SyntaxTokens": {
          "$ref": "#/definitions/ListOfSyntaxTokens",
          "description": "A collection of syntax tokens describing the text. For each token, the response provides the text, the token type, where the text begins and ends, and the level of confidence that Amazon Comprehend has that the token is correct. For a list of token types, see <a>how-syntax</a>."
        }
      },
      "type": "object"
    },
    "DominantLanguage": {
      "description": "Returns the code for the dominant language in the input text and the level of confidence that Amazon Comprehend has in the accuracy of the detection.",
      "properties": {
        "LanguageCode": {
          "$ref": "#/definitions/String",
          "description": "The RFC 5646 language code for the dominant language. For more information about RFC 5646, see <a href=\"https://tools.ietf.org/html/rfc5646\">Tags for Identifying Languages</a> on the <i>IETF Tools</i> web site."
        },
        "Score": {
          "$ref": "#/definitions/Float",
          "description": "The level of confidence that Amazon Comprehend has in the accuracy of the detection."
        }
      },
      "type": "object"
    },
    "DominantLanguageDetectionJobFilter": {
      "description": "Provides information for filtering a list of dominant language detection jobs. For more information, see the operation.",
      "properties": {
        "JobName": {
          "$ref": "#/definitions/JobName",
          "description": "Filters on the name of the job."
        },
        "JobStatus": {
          "$ref": "#/definitions/JobStatus",
          "description": "Filters the list of jobs based on job status. Returns only jobs with the specified status."
        },
        "SubmitTimeAfter": {
          "$ref": "#/definitions/Timestamp",
          "description": "Filters the list of jobs based on the time that the job was submitted for processing. Returns only jobs submitted after the specified time. Jobs are returned in descending order, newest to oldest."
        },
        "SubmitTimeBefore": {
          "$ref": "#/definitions/Timestamp",
          "description": "Filters the list of jobs based on the time that the job was submitted for processing. Returns only jobs submitted before the specified time. Jobs are returned in ascending order, oldest to newest."
        }
      },
      "type": "object"
    },
    "DominantLanguageDetectionJobProperties": {
      "description": "Provides information about a dominant language detection job.",
      "properties": {
        "DataAccessRoleArn": {
          "$ref": "#/definitions/IamRoleArn",
          "description": "The Amazon Resource Name (ARN) that gives Amazon Comprehend read access to your input data."
        },
        "EndTime": {
          "$ref": "#/definitions/Timestamp",
          "description": "The time that the dominant language detection job completed."
        },
        "InputDataConfig": {
          "$ref": "#/definitions/InputDataConfig",
          "description": "The input data configuration that you supplied when you created the dominant language detection job."
        },
        "JobId": {
          "$ref": "#/definitions/JobId",
          "description": "The identifier assigned to the dominant language detection job."
        },
        "JobName": {
          "$ref": "#/definitions/JobName",
          "description": "The name that you assigned to the dominant language detection job."
        },
        "JobStatus": {
          "$ref": "#/definitions/JobStatus",
          "description": "The current status of the dominant language detection job. If the status is <code>FAILED</code>, the <code>Message</code> field shows the reason for the failure."
        },
        "Message": {
          "$ref": "#/definitions/AnyLengthString",
          "description": "A description for the status of a job."
        },
        "OutputDataConfig": {
          "$ref": "#/definitions/OutputDataConfig",
          "description": "The output data configuration that you supplied when you created the dominant language detection job."
        },
        "SubmitTime": {
          "$ref": "#/definitions/Timestamp",
          "description": "The time that the dominant language detection job was submitted for processing."
        }
      },
      "type": "object"
    },
    "DominantLanguageDetectionJobPropertiesList": {
      "items": {
        "$ref": "#/definitions/DominantLanguageDetectionJobProperties"
      },
      "type": "array"
    },
    "EntitiesDetectionJobFilter": {
      "description": "Provides information for filtering a list of dominant language detection jobs. For more information, see the operation.",
      "properties": {
        "JobName": {
          "$ref": "#/definitions/JobName",
          "description": "Filters on the name of the job."
        },
        "JobStatus": {
          "$ref": "#/definitions/JobStatus",
          "description": "Filters the list of jobs based on job status. Returns only jobs with the specified status."
        },
        "SubmitTimeAfter": {
          "$ref": "#/definitions/Timestamp",
          "description": "Filters the list of jobs based on the time that the job was submitted for processing. Returns only jobs submitted after the specified time. Jobs are returned in descending order, newest to oldest."
        },
        "SubmitTimeBefore": {
          "$ref": "#/definitions/Timestamp",
          "description": "Filters the list of jobs based on the time that the job was submitted for processing. Returns only jobs submitted before the specified time. Jobs are returned in ascending order, oldest to newest."
        }
      },
      "type": "object"
    },
    "EntitiesDetectionJobProperties": {
      "description": "Provides information about an entities detection job.",
      "properties": {
        "DataAccessRoleArn": {
          "$ref": "#/definitions/IamRoleArn",
          "description": "The Amazon Resource Name (ARN) that gives Amazon Comprehend read access to your input data."
        },
        "EndTime": {
          "$ref": "#/definitions/Timestamp",
          "description": "The time that the entities detection job completed"
        },
        "InputDataConfig": {
          "$ref": "#/definitions/InputDataConfig",
          "description": "The input data configuration that you supplied when you created the entities detection job."
        },
        "JobId": {
          "$ref": "#/definitions/JobId",
          "description": "The identifier assigned to the entities detection job."
        },
        "JobName": {
          "$ref": "#/definitions/JobName",
          "description": "The name that you assigned the entities detection job."
        },
        "JobStatus": {
          "$ref": "#/definitions/JobStatus",
          "description": "The current status of the entities detection job. If the status is <code>FAILED</code>, the <code>Message</code> field shows the reason for the failure."
        },
        "LanguageCode": {
          "$ref": "#/definitions/LanguageCode",
          "description": "The language code of the input documents."
        },
        "Message": {
          "$ref": "#/definitions/AnyLengthString",
          "description": "A description of the status of a job."
        },
        "OutputDataConfig": {
          "$ref": "#/definitions/OutputDataConfig",
          "description": "The output data configuration that you supplied when you created the entities detection job. "
        },
        "SubmitTime": {
          "$ref": "#/definitions/Timestamp",
          "description": "The time that the entities detection job was submitted for processing."
        }
      },
      "type": "object"
    },
    "EntitiesDetectionJobPropertiesList": {
      "items": {
        "$ref": "#/definitions/EntitiesDetectionJobProperties"
      },
      "type": "array"
    },
    "Entity": {
      "description": "<p>Provides information about an entity. </p> <p> </p>",
      "properties": {
        "BeginOffset": {
          "$ref": "#/definitions/Integer",
          "description": "A character offset in the input text that shows where the entity begins (the first character is at position 0). The offset returns the position of each UTF-8 code point in the string. A <i>code point</i> is the abstract character from a particular graphical representation. For example, a multi-byte UTF-8 character maps to a single code point."
        },
        "EndOffset": {
          "$ref": "#/definitions/Integer",
          "description": "A character offset in the input text that shows where the entity ends. The offset returns the position of each UTF-8 code point in the string. A <i>code point</i> is the abstract character from a particular graphical representation. For example, a multi-byte UTF-8 character maps to a single code point. "
        },
        "Score": {
          "$ref": "#/definitions/Float",
          "description": "The level of confidence that Amazon Comprehend has in the accuracy of the detection."
        },
        "Text": {
          "$ref": "#/definitions/String",
          "description": "The text of the entity."
        },
        "Type": {
          "$ref": "#/definitions/EntityType",
          "description": "The entity's type."
        }
      },
      "type": "object"
    },
    "EntityType": {
      "enum": [
        "PERSON",
        "LOCATION",
        "ORGANIZATION",
        "COMMERCIAL_ITEM",
        "EVENT",
        "DATE",
        "QUANTITY",
        "TITLE",
        "OTHER"
      ],
      "type": "string"
    },
    "Float": {
      "format": "float",
      "type": "number"
    },
    "IamRoleArn": {
      "pattern": "arn:aws(-[^:]+)?:iam::[0-9]{12}:role/.+",
      "type": "string"
    },
    "InputDataConfig": {
      "description": "The input properties for a topic detection job.",
      "properties": {
        "InputFormat": {
          "$ref": "#/definitions/InputFormat",
          "description": "<p>Specifies how the text in an input file should be processed:</p> <ul> <li> <p> <code>ONE_DOC_PER_FILE</code> - Each file is considered a separate document. Use this option when you are processing large documents, such as newspaper articles or scientific papers.</p> </li> <li> <p> <code>ONE_DOC_PER_LINE</code> - Each line in a file is considered a separate document. Use this option when you are processing many short documents, such as text messages.</p> </li> </ul>"
        },
        "S3Uri": {
          "$ref": "#/definitions/S3Uri",
[...]
